# data config
DataSet = kitti
DataSetRootDirectory = ~/data/kitti/dataset
SequenceNumber = 0

# stereo config
StereoAlgorithm = BlockMatching
SADWindowSize = 9
minDisparity = 1
numberOfDisparities = 96
trySmallerWindows = 1
ScaleBy = 1

numPyramidLevels = 5
maxTestLevel = 0

lossFunction = Tukey
verbosity = Silent

maxIterations = 100
minTranslationMagToKeyFrame = 0.0
minRotationMagToKeyFrame = 2.0

parameterTolerance = 1e-6
functionTolerance = 1e-5

goodPointThreshold = 0.7
maxFractionOfGoodPointsToKeyFrame = 0.5

minSaliency = 1.5

# parameters to store the points
minPointWeight = 0.75
maxDepth = 10.0

