DatasetName = tsukuba_stereo
DatasetType = stereo
DataSetRootDirectory = ~/data/NewTsukubaStereoDataset
Illumination = fluorescent

# ground truth disparity images in tsukuba data do not need scaling
DisparityScale = 1.0

FristFrameNumber = 1
